// Colors
$foxfly-color-darken: #E74610;
$foxfly-color-medium: #FF8B63;
$foxfly-color-lighten: #ff9900;
$gray-medium: #D7D7D7;
$gray-darken: #4c4c4c;

//typography

$title: $foxfly-color-darken;
$title-secondary: $foxfly-color-medium;
$pharagraph: $gray-darken;

